_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json


default*.db
*.db-journal
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/misc.xml
.idea/shelf
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.scrapy
.idea/vagrant.xml
.vagrant
.cache
